nore-red-3/flows.json
[
    {
        "id": "2171bf6f3214d1b7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5d56c5e45eadbc6",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "6df2151387a9d4bd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "38168184dbda612c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "90692b782ae7f31f",
        "type": "ui_group",
        "name": "Default",
        "tab": "6df2151387a9d4bd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a99203a486d3639",
        "type": "serial in",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "serial": "c5d56c5e45eadbc6",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "bb0647f68161d7a0"
            ]
        ]
    },
    {
        "id": "bb0647f68161d7a0",
        "type": "json",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "2673f2436189331c",
                "d36d16b6a5d0ee43"
            ]
        ]
    },
    {
        "id": "2673f2436189331c",
        "type": "debug",
        "z": "2171bf6f3214d1b7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "d36d16b6a5d0ee43",
        "type": "function",
        "z": "2171bf6f3214d1b7",
        "name": "function 1",
        "func": "msg.headers = {\n    'Device-Token':'0b45f373-ac1b-40c7-acf8-d6173f9762dd',\n    'Content-Type':'application/json'\n};\n\nvar action = [\n    {\n        'variable':'Distancia',\n        'unit':'cm',\n        'value':msg.payload,\n    }\n]\n\nmsg.payload = action\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "b756a8e0b2428c3b"
            ]
        ]
    },
    {
        "id": "b756a8e0b2428c3b",
        "type": "http request",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "api.tago.io/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7b08d661636f8657",
        "type": "serial out",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "serial": "c5d56c5e45eadbc6",
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "45bfe09c3e21f02b",
        "type": "ui_button",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "group": "90692b782ae7f31f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ligar led",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "A",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "7b08d661636f8657"
            ]
        ]
    },
    {
        "id": "336bf7e9a8d7beff",
        "type": "ui_button",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "group": "90692b782ae7f31f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desligar led",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "D",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "7b08d661636f8657"
            ]
        ]
    },
    {
        "id": "d76a19347e8ad30c",
        "type": "ui_button",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "group": "90692b782ae7f31f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Servo Direita",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "R",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "7b08d661636f8657"
            ]
        ]
    },
    {
        "id": "262326d74f86296b",
        "type": "ui_button",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "group": "90692b782ae7f31f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Servo Esquerda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "L",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "7b08d661636f8657"
            ]
        ]
    },
    {
        "id": "8480a6c2dde6bd73",
        "type": "ui_button",
        "z": "2171bf6f3214d1b7",
        "name": "",
        "group": "90692b782ae7f31f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Servo Meio",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "M",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "7b08d661636f8657"
            ]
        ]
    }
]