node_red/flows.json
[
    {
        "id": "2c29767f4128b897",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1909bc21d0f42f3c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1fe8189b9fdd6e83",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c62067b34bd62a7a",
        "type": "ui_group",
        "name": "Default",
        "tab": "1909bc21d0f42f3c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbf441ad5d6b09f1",
        "type": "ui_group",
        "name": "Default",
        "tab": "1909bc21d0f42f3c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bf204b9ab0822b0",
        "type": "inject",
        "z": "2c29767f4128b897",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Kazuki",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "dcbd95f485141ca2"
            ]
        ]
    },
    {
        "id": "3bc783d02d18b57e",
        "type": "debug",
        "z": "2c29767f4128b897",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "dcbd95f485141ca2",
        "type": "http request",
        "z": "2c29767f4128b897",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-23.5325&lon=-46.7917&appid=a669c7581a465a7a7c6ca5cea61e378f&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 170,
        "y": 260,
        "wires": [
            [
                "b459903780d2bcae"
            ]
        ]
    },
    {
        "id": "b459903780d2bcae",
        "type": "json",
        "z": "2c29767f4128b897",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "530740c0f4217517",
                "664e410f84b71f8f",
                "67c9e1818f0b2f7f",
                "6a18abc1edcf5f11",
                "6df40a1173aa0eea"
            ]
        ]
    },
    {
        "id": "530740c0f4217517",
        "type": "function",
        "z": "2c29767f4128b897",
        "name": "function 1",
        "func": "const main = msg.payload.main;\n\nconst temp = main.temp;\nconst tempInCelsiusFromKelvin = temp - 273.15;\n\nreturn {\n    payload: tempInCelsiusFromKelvin\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 460,
        "wires": [
            [
                "11b85cbb58dd6cdb"
            ]
        ]
    },
    {
        "id": "664e410f84b71f8f",
        "type": "change",
        "z": "2c29767f4128b897",
        "name": "Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "3bc783d02d18b57e",
                "c90c604c1cbc279b"
            ]
        ]
    },
    {
        "id": "11b85cbb58dd6cdb",
        "type": "debug",
        "z": "2c29767f4128b897",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 560,
        "wires": []
    },
    {
        "id": "67c9e1818f0b2f7f",
        "type": "debug",
        "z": "2c29767f4128b897",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 320,
        "wires": []
    },
    {
        "id": "c90c604c1cbc279b",
        "type": "ui_gauge",
        "z": "2c29767f4128b897",
        "name": "",
        "group": "c62067b34bd62a7a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "6a18abc1edcf5f11",
        "type": "change",
        "z": "2c29767f4128b897",
        "name": "Max",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "57d65453f2581702",
                "781361c4efb113e0"
            ]
        ]
    },
    {
        "id": "6df40a1173aa0eea",
        "type": "change",
        "z": "2c29767f4128b897",
        "name": "Min",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "dec063891f80fc5a",
                "d598ba039557beee"
            ]
        ]
    },
    {
        "id": "57d65453f2581702",
        "type": "debug",
        "z": "2c29767f4128b897",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 460,
        "wires": []
    },
    {
        "id": "dec063891f80fc5a",
        "type": "debug",
        "z": "2c29767f4128b897",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "d598ba039557beee",
        "type": "ui_gauge",
        "z": "2c29767f4128b897",
        "name": "",
        "group": "c62067b34bd62a7a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Min",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "781361c4efb113e0",
        "type": "ui_gauge",
        "z": "2c29767f4128b897",
        "name": "",
        "group": "bbf441ad5d6b09f1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Max",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 420,
        "wires": []
    }
]